@use "../abstracts/colors" as *;

i.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: $surface-400;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transition: 0.4s;

  &.up {
    transform: rotate(-180deg);
  }

  &.down {
    transform: rotate(180deg);
  }

  &.left {
    transform: rotate(-90deg);
  }

  &.right {
    transform: rotate(90deg);
  }

	  &.up-right {
    transform: rotate(-45deg);
  }
}

//Sizes
.size-52 {
  mask-size: 52px 52px;
  width: 52px !important;
  min-width: 52px;
  height: 52px !important;
}
.size-44 {
    mask-size: 44px 44px;
    width: 44px!important;
    min-width: 44px;
    height: 44px!important;
}
.size-42 {
  mask-size: 42px 42px;
  width: 42px !important;
  min-width: 42px;
  height: 42px !important;
}
.size-36 {
  mask-size: 36px 36px;
  width: 36px !important;
  min-width: 36px;
  height: 36px !important;
}
.size-32 {
  mask-size: 32px 32px;
  width: 32px !important;
  min-width: 32px;
  height: 32px !important;
}
.size-30 {
  mask-size: 30px 30px;
  width: 30px !important;
  min-width: 30px;
  height: 30px !important;
}
.size-24 {
  mask-size: 24px 24px;
  width: 24px !important;
  min-width: 24px;
  height: 24px !important;
}
.size-20 {
  mask-size: 20px 20px;
  width: 20px !important;
  min-width: 20px;
  height: 20px !important;
}
.size-17-5{
	mask-size: 17.5px 17.5px;
  width: 17.5px !important;
  min-width: 17.5px;
  height: 17.5px !important;
}
.size-16 {
  mask-size: 16px 16px;
  width: 16px !important;
  min-width: 16px;
  height: 16px !important;
}
.size-14 {
  mask-size: 14px 14px;
  width: 14px !important;
  min-width: 14px;
  height: 14px !important;
}
.size-12 {
  mask-size: 12px 12px;
  width: 12px !important;
  min-width: 12px;
  height: 12px !important;
}

// Icons
.chevron{
						    @extend i, .icon;
    -webkit-mask-image: url("@/assets/icons/chevron.svg");
    mask-image: url("@/assets/icons/chevron.svg");
}
.checkmark {
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/checkmark.svg");
  mask-image: url("@/assets/icons/checkmark.svg");
}
.book-check {
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/book-check.svg");
  mask-image: url("@/assets/icons/book-check.svg");
}
.hamburger{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/hamburger.svg");
  mask-image: url("@/assets/icons/hamburger.svg");
}
.circle-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/circle-i.svg");
  mask-image: url("@/assets/icons/circle-i.svg");
}
.more-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/more-i.svg");
  mask-image: url("@/assets/icons/more-i.svg");
}
.plus-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/plus-i.svg");
  mask-image: url("@/assets/icons/plus-i.svg");
}
.paper-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/paper-i.svg");
  mask-image: url("@/assets/icons/paper-i.svg");
}
.list-appeal-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/list-appeal-i.svg");
  mask-image: url("@/assets/icons/list-appeal-i.svg");
}
.folders-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/folders-i.svg");
  mask-image: url("@/assets/icons/folders-i.svg");
}
.menu-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/menu-i.svg");
  mask-image: url("@/assets/icons/menu-i.svg");
}
.spiral-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/spiral-i.svg");
  mask-image: url("@/assets/icons/spiral-i.svg");
}
.user-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/user-i.svg");
  mask-image: url("@/assets/icons/user-i.svg");
}
.users-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/users-i.svg");
  mask-image: url("@/assets/icons/users-i.svg");
}
.logout-i{
  @extend i, .icon;
  -webkit-mask-image: url("@/assets/icons/logout-i.svg");
  mask-image: url("@/assets/icons/logout-i.svg");
}
