//Main colors
$primary-accent: #283618; // PINE TREE
$secondary-accent: #606C38; // OLIVE
$tertiary-accent: #fefae0; // CORNSILK

// Surface
$surface-75: #f9fcff;
$surface-100: #F6F8FA;
$surface-150: #F2F2F7;
$surface-200: #E5E5EA;
$surface-250: #D1D1D6;
$surface-300: #F1f2ED;


$surface-300: #AEAEB2;
$surface-400: #8E8E93;

$surface-500: #9c9591;
$surface-600: #404040;


// Base color
$white: #ffffff;
$black: #000000;

// Orange
$orange-500: #E84E10;

// Red
$red-300: #FF5757;

// Green
$green-500: #22C55E;
$green-400: #4DB988;

// Yellow
$yellow-400: #FFCC00;

