// Padding
$padding-xs: 8px;
$padding-sm: 10px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 20px;
$padding-xxl: 30px;

$padding-wrapper: 25px 20px;
$padding-wrapper-md: 15px 10px;

$padding-header: 10px 40px;

$padding-pages: 30px;
$padding-pages-md: 10px;

// Gap
$gap-xxs: 4px;
$gap-xs: 6px;
$gap-sm: 8px;
$gap-md: 10px;
$gap-lg: 12px;
$gap-xl: 16px;
$gap-xxl: 20px;
$gap-xxxl: 40px;

// Border radius
$border-r-xs: 6px;
$border-r-sm: 8px;
$border-r-md: 10px;
$border-r-lg: 12px;
$border-r-xl: 16px;
$border-r-xxl: 20px;

// Box shadow
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

