@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.white{
	background-color: $white !important;
}
.black{
	background-color: $black !important;
}
.blue-500{
	background-color: $blue-500 !important;
}
.green-500{
	background-color: $green-500 !important;
}
.green-400{
	background-color: $green-400 !important;
}
.orange-500{
	background-color: $orange-500 !important;
}
.red-300{
	background-color: $red-300 !important;
}
.yellow-400{
	background-color: $yellow-400 !important;
}
.surface-200{
	background-color: $surface-200 !important;
}
.surface-400{
	background-color: $surface-400 !important;
}