@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

// Button
.primary-btn{
	background-color: $secondary-accent;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
	font-weight: 500;
	transition: .4s ease-in-out;
	white-space: nowrap;
	width: fit-content;


	& .icon{
		background-color: $white;
	}
	&:hover{
		background-color: transparent;
		border: 2px solid $secondary-accent;
		color: $secondary-accent;
		font-weight: 500;
	}
}

.secondary-btn{
	background-color: transparent;
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	border: 1px solid $secondary-accent;
	font-weight: 500;
	transition: .4s ease-in-out;
	white-space: nowrap;
		color: $secondary-accent;


	& .icon{
		background-color: $white;
	}
	&:hover{
		background-color: transparent;
		border: 1px solid $secondary-accent;
		background-color: $secondary-accent;
		color: $white;
		font-weight: 500;
	}
}

.tertiary-btn{
	background-color: $tertiary-accent;
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	border: 1px solid $secondary-accent;
	font-weight: 500;
	transition: .4s ease-in-out;
	white-space: nowrap;
	color: $surface-600;


	& .icon{
		background-color: $white;
	}
	// &:hover{
	// 	background-color: transparent;
	// 	border: 1px solid $secondary-accent;
	// 	background-color: $secondary-accent;
	// 	color: $white;
	// 	font-weight: 500;
	// }
}

// Title
.title-lg{
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;

}

.title-md{
	font-size: 22px;
	font-weight: 500;
	line-height: 120%;

}

.title-sm{
	font-size: 18px;
	font-weight: 500;
	line-height: 120%;
}

.title-point{
  position: relative;
  margin-left: 16px;
  &::before {
    position: absolute;
    left: -16px;
    top: 7px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondary-accent;
	}
}



// Transitions
// Slide Down
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.2s ease-out;
}

.slide-down-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-down-leave-to {
  opacity: 0;
  transform: translateY(20px);
}


//Up fade
.up-fade-enter-active,
.up-fade-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.up-fade-enter-from,
.up-fade-leave-to {
  opacity: 0;
  transform: translateY(24px);
}